%p#notice= notice

%p
  %b Name:
  = @recipe.name
%p
  %b Description:
  = @recipe.description
%p
  %b User:
  = @recipe.user.email
- @recipe.items.each do |item|
  %p
    = item.ingredient.name
    = item.amount
    = item.measure

= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Back', recipes_path
